.backdrop__container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(88, 88, 128, 0.9) 3.61%,
    rgb(38, 198, 208, 0.9) 95.7%
  );
  bottom: 100%;
  left: 0%;
  z-index: 500;
  transition: all 0.3s;
}

.overlap__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.showModal__active {
  animation: show 0.3s ease-in-out;
  transform: translateY(100%);
}
.showModal__done {
  transform: translateY(100%);
}

.closeModal__active {
  animation: fade-out 0.3s ease-in;
  opacity: 0;
}
.closeModal__done {
  opacity: 0;
  transform: translateY(100%);
}

@keyframes show {
  0% {
    transform: translate(0%);
  }
  90% {
    transform: translateY(105%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }

  100% {
    opacity: 0;
    transform: translate(100%, 100%);
  }
}
