.ingredientSection__contener .serviceIntro__box .heading {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 3.4rem;
  letter-spacing: 3.64px;
  color: #262626;
}

.ingredientSection__contener .serviceIntro__box .intro {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 1px;
}

.ingredientSection__contener .serviceIntro__box .btn__ourService {
  display: grid;
  grid-template-columns: 100fr 62fr;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  align-items: center;
  -moz-column-gap: 7.727%;
       column-gap: 7.727%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.22px;
  border-radius: 1px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}
.ingredientSection__contener .serviceIntro__box .btn__ourService:hover, .ingredientSection__contener .serviceIntro__box .btn__ourService:active {
  background-color: #23bbc6;
}

@media (max-width: 32.5em) {
  .ingredientSection__contener .serviceIntro__box .heading {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .ingredientSection__contener .serviceIntro__box .btn__ourService {
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
}
@media (max-width: 25.625em) {
  .ingredientSection__contener .serviceIntro__box .heading {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
.ingredientSection__contener .serviceIntro__box .heading {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 3.4rem;
  letter-spacing: 3.64px;
  color: #262626;
}

.ingredientSection__contener .serviceIntro__box .intro {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 1px;
}

.ingredientSection__contener .serviceIntro__box .btn__ourService {
  display: grid;
  grid-template-columns: 100fr 62fr;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  align-items: center;
  -moz-column-gap: 7.727%;
       column-gap: 7.727%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.22px;
  border-radius: 1px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}
.ingredientSection__contener .serviceIntro__box .btn__ourService:hover, .ingredientSection__contener .serviceIntro__box .btn__ourService:active {
  background-color: #23bbc6;
}

@media (max-width: 32.5em) {
  .ingredientSection__contener .serviceIntro__box .heading {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .ingredientSection__contener .serviceIntro__box .btn__ourService {
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
}
@media (max-width: 25.625em) {
  .ingredientSection__contener .serviceIntro__box .heading {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
.ingredientSection__contener {
  width: 100%;
  background-color: #26c6d0;
  padding: 32rem 12.8rem 43.3rem 12.8rem;
  text-align: center;
  border-radius: 40px;
  color: #ffffff;
}
.ingredientSection__contener .serviceIntro__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.5rem;
  gap: 0;
}
.ingredientSection__contener .serviceIntro__box .heading {
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  -o-border-image: url("../../images/wavy_purple.png");
     border-image: url("../../images/wavy_purple.png");
  border-width: 0 15px 15px 15px;
  border-style: solid;
  border-color: transparent;
  border-image-repeat: round;
  border-image-slice: 16;
  padding: 0 2rem 4px 2rem;
  margin-bottom: 4.47rem;
}
@media (max-width: 32.5em) {
  .ingredientSection__contener .serviceIntro__box .heading {
    border-width: 0 10px 10px 10px;
    padding: 0 2rem 0 2rem;
  }
}
@media (max-width: 25.625em) {
  .ingredientSection__contener .serviceIntro__box .heading {
    border-width: 0 5px 5px 5px;
    padding: 0 2rem 0 2rem;
  }
}
.ingredientSection__contener .serviceIntro__box .heading::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #ee6c8a;
  position: absolute;
  right: -1rem;
  bottom: 25%;
  border-radius: 50%;
}
@media (max-width: 32.5em) {
  .ingredientSection__contener .serviceIntro__box .heading::after {
    content: "";
    width: 5px;
    height: 5px;
  }
}
.ingredientSection__contener .serviceIntro__box .intro {
  padding: 0 8.9rem;
  margin-bottom: 3rem;
}
.ingredientSection__contener .serviceIntro__box .btn__ourService {
  padding: 3.6rem 3.234rem;
  background-color: #585880;
}
.ingredientSection__contener .serviceIntro__box .btn__ourService::after {
  content: "";
  display: block;
  height: 1.31px;
  background-color: #fff;
}
.ingredientSection__contener .serviceIntro__box .btn__ourService:hover, .ingredientSection__contener .serviceIntro__box .btn__ourService:active {
  background-color: #4a4a6c;
}
.ingredientSection__contener .serviceDetail__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 7.2rem;
  transition: all 1s;
}
.ingredientSection__contener .link__ingredient {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  z-index: 100;
  transition: all 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.ingredientSection__contener .link__ingredient::before {
  content: "";
  position: absolute;
  bottom: 18%;
  left: -0.8rem;
  height: 18%;
  width: 103%;
  background-color: #ffbc58;
  z-index: -10;
}
.ingredientSection__contener .link__ingredient::before {
  width: 104%;
}
.ingredientSection__contener .link__ingredient:hover, .ingredientSection__contener .link__ingredient:active {
  display: block;
  margin: 0 auto;
  transform: scale(1.1);
}

@media (max-width: 84.375em) {
  .ingredientSection__contener {
    padding: 45rem 5rem 43.3rem 5rem;
  }
}
@media (max-width: 66.6875em) {
  .ingredientSection__contener {
    padding: 45rem 5rem 70rem 5rem;
  }
  .ingredientSection__contener .serviceDetail__box {
    grid-template-columns: repeat(2, 1fr);
  }
  .ingredientSection__contener .serviceDetail__box > div:nth-child(9) {
    transform: translateX(50%);
  }
}
@media (max-width: 56.25em) {
  .ingredientSection__contener {
    padding: 45rem 1rem 70rem 1rem;
  }
}
@media (max-width: 41.5625em) {
  .ingredientSection__contener {
    padding: 45rem 5rem 70rem 5rem;
  }
  .ingredientSection__contener .serviceIntro__box .intro {
    padding: 0 1.5rem;
    margin-bottom: 3rem;
  }
  .ingredientSection__contener .serviceDetail__box {
    grid-template-columns: 1fr;
  }
  .ingredientSection__contener .serviceDetail__box > div:nth-child(9) {
    transform: unset;
  }
}
@media (max-width: 26.75em) {
  .ingredientSection__contener {
    padding: 45rem 0rem 70rem 0rem;
  }
  .ingredientSection__contener .link__ingredient {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}
@media (max-height: 20.4375em) {
  .ingredientSection__contener {
    padding: 10rem 6.8rem 56rem 6.8rem;
  }
}
@media (max-height: 18.031em) {
  .ingredientSection__contener {
    padding: 10rem 0rem 66rem 0rem;
  }
}/*# sourceMappingURL=IngredientSection.module.css.map */